<div class="crud-container">
  <div class="crud-box">

    <h2>Hero CRUD</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <input placeholder="nombre" formControlName="name">
      @if (f.name.touched && f.name.invalid) {
        <small>Requerido</small>
      }

      <input placeholder="Poder" formControlName="power">
      @if (f.power.touched && f.power.invalid) {
        <small>Requerido</small>
      }

      <input type="number" placeholder="Nivel" formControlName="level">

      <input placeholder="Ciudad" formControlName="city">

      <button type="submit">
        {{ editIndex !== null ? 'Actualizar Heroe' : 'Agregar Heroe' }}
      </button>

    </form>

    <hr>

    @for (hero of heroes; track $index) {
      <div class="hero-card">

        <p><strong>{{ hero.name }}</strong> - {{ hero.power }}</p>
        <p>Level: {{ hero.level }} | City: {{ hero.city }}</p>

        <div class="actions">
          <button (click)="editHero(hero, $index)">Editar</button>
          <button (click)="deleteHero($index)">Borrar</button>
        </div>

      </div>
    }

  </div>
</div>