<h1>{{ heroName }}, bienvenido...</h1>

<p class="story">
Donde la orilla del mundo se quiebra,<br>
y dos soles mueren sobre aguas sin nombre,<br>
las sombras se alargan sin dueño<br>
en el vientre de lo que no debe ser.<br><br>

Extraña es la noche sin cielo,<br>
donde nacen estrellas que no iluminan,<br>
y lunas enfermas giran en silencio<br>
sobre la carne latente de la Madre.<br><br>

Allí, donde los bosques respiran,<br>
y los mil hijos sin rostro se agitan,<br>
susurra la que siempre engendra,<br>
la Negra Cabra de los abismos.<br><br>

No hay canto que no sea devorado,<br>
ni voz que no se marchite en su nombre;<br>
pues todo sonido se pudre en su seno,<br>
y todo eco regresa… transformado.<br><br>

Mi alma tiembla en su presencia,<br>
mi nombre se disuelve en lo profundo;<br>
porque verla es recordar<br>
que nunca fuimos libres.<br><br>

Y cuando los ojos se cierran,<br>
y la razón finalmente cede,<br>
algo florece en la oscuridad…<br><br>

y comienza a llamarte por dentro.
</p>